<button mat-button [matMenuTriggerFor]="aboveMenu">Student</button>
<mat-menu #aboveMenu="matMenu" yPosition="below">
  <button mat-menu-item routerLink="/student-list" routerLinkActive="active-link">Student List</button>
  <!-- <button mat-menu-item></button> -->
</mat-menu>

<button mat-button [matMenuTriggerFor]="belowMenu">Class</button>
<mat-menu #belowMenu="matMenu" yPosition="below">
  <button mat-menu-item routerLink="/class-list" routerLinkActive="active-link">Class List</button>

</mat-menu>